* {
    font-family: 'Poppins', sans-serif;
}

.chart{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 700px;
    justify-content: center;
}
.button{
    background-color: rgb(204, 221, 240);
    color: rgb(4, 110, 197);
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.waterAndWall, .Water{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
#chart1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#chart2 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}